Data/
*.asv
dummyCode.m
PyCode/venv
PyCode/PyData
.idea/
trashscript.m
old_handplot_synergies.m
aux_results/
first.csv
second.csv
third.csv
*.R
data_visualization.m
PyCode/PyData/.ipynb_checkpoints/
.bash_profile
